*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
.container{
    height: 350px;
    text-align: center;
    margin: 100px auto;
    background-color: hsl(213, 19%, 18%);
    width: 500px;
    border-radius:5px;
    
}
h2{
    padding:2px;

}
.choices{
    color: rgb(253, 244, 0);
    background-color: rgb(66, 73, 80);
    width: 70%;
    text-align: start;
    padding: 15px;
    border-radius: 10px;
    margin-left: 90px;
}
.title{
    /* background-color: red; */
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 45px;
    color:whitesmoke;
    
}
.btn{
    margin-top:40px ;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 15px ;
    
    
}

    

#rock {
    background-color: brown;
    padding:5px 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: cursive;
    border: none;
    
}
#paper{
    background-color:white;
    padding:5px 20px;
    border-radius: 10px;
    border: none;
    font-family: cursive;
    font-size: 30px;
}

#scissor{
    background-color: silver;
    padding:5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-family: cursive;
    padding: 10px;
}