*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:lightgrey;
}
.container{
    height: 350px;
    text-align: center;
    margin: 100px auto;
    background-color: hsl(213, 72%, 46%);
    width: 500px;
    border-radius:5px;  
}
h2{
    padding:3px;
    font-weight: 200;
}
.choices{
    color: rgb(232, 231, 215);
    background-color: rgb(66, 73, 80);
    width: 70%;
    text-align: start;
    padding: 15px;
    border-radius: 10px;
    margin-left: 90px;
}
.title{
    /* background-color: red; */
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 45px;
    color:rgb(237, 7, 187);
    
}
.btn{
    margin-top:40px ;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 15px ;
}

    

#rock {
    background-color: rgba(12, 133, 14, 0.656);
    padding:5px 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: fantasy;
    border: none; 
}
#paper{
    background-color:white;
    padding:5px 20px;
    border-radius: 10px;
    border: none;
    font-family: fantasy;
    font-size: 30px;
}

#scissor{
    background-color: silver;
    padding:5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-family: cursive;
    padding: 12px;
}