*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(172, 80, 80);
}
.container{
    height: 350px;
    text-align: center;
    margin: 100px auto;
    background-color: hsl(213, 32%, 41%);
    width: 500px;
    border-radius:5px;  
}
h2{
    padding:3px;
    font-weight: 200;
}
.choices{
    color: rgb(158, 153, 91);
    background-color: rgb(74, 121, 169);
    width: 70%;
    text-align: start;
    padding: 15px;
    border-radius: 10px;
    margin-left: 90px;
}
.title{
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 45px;
    color:rgb(146, 65, 128);
    
}
.btn{
    margin-top:40px ;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 15px ;
}

    

#rock {
    background-color: rgba(77, 143, 78, 0.656);
    padding:5px 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: fantasy;
    border: none; 
}
#paper{
    background-color:rgb(156, 79, 79);
    padding:5px 20px;
    border-radius: 10px;
    border: none;
    font-family: fantasy;
    font-size: 30px;
}

#scissor{
    background-color: silver;
    padding:5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-family: cursive;
    padding: 12px;
}